@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;600;800;900&display=swap');



body{
    margin: 0;
    
    /* padding: 1% 5% 1% 5%; */
    /* padding: 5px 5% 5px 5%; */
    transition: .3s ease;
    background-color: #EEEFF0;
    /* background-color: #15171b; */
}
.dark body{
  margin: 0;
  /* padding: 1% 5% 1% 5%; */
  /* padding: 5px 5% 5px 5%; */
  transition: .3s ease;
  /* background-color: #222222; */
  background-color: #121212;
}

*{

    font-family: 'Noto Sans Thai', sans-serif;
}

/* ::-webkit-scrollbar {
    display: none;
  } */
  
  /* Firefox */
    /* html {
      scrollbar-width: none;
    } */
  
  /* คืนค่าสีของ scrollbar ให้เป็นสีเดิม (หากต้องการ) */
  /* Webkit */
  ::-webkit-scrollbar {
    width: 4px; /* กำหนดความกว้างของ scrollbar */
    height: 6px;
    background-color: #f1f1f1; /* สีพื้นหลังของ scrollbar */
    overflow: overlay;
  }
  
  /* สีของบริเตนของ scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* สีบริเตนของ scrollbar */
    border-radius: 4px; /* ความโค้งของบริเตนของ scrollbar */
  }
  
  /* Firefox */
  html {
    scrollbar-color: #888 #f1f1f1; /* สีของ scrollbar และสีพื้นหลังของ scrollbar */
    scrollbar-width: thin; /* กำหนดความกว้างของ scrollbar */
    overflow: overlay;
    scroll-behavior: smooth;
  }
      


@tailwind base;
@tailwind components;
@tailwind utilities;


